// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.content-body{
  background-color: #D7CCC8;
  margin-left: 300px;
  padding: 70px 20px 0 20px;
  box-sizing: border-box;
  display:block;
  overflow: hidden;
}

.overflow{
  overflow: auto;
  width: 100%;
}
.content-body table{
  width: 100%;
}
.content-body table,.content-body td,.content-body th{
  border-collapse: collapse;
  border: 1px solid gray;
  padding: 5px 10px;
}

.content-body th{
  background-color: #795548;
  text-align: center;
  color: white;
}

.image-container{
  width: 200px;
  height: 200px;
  border: 2px solid white;
  border-radius: 3px;
  background-color: white;
  overflow: hidden;
}

.image-display{
  width: 100%;
}