
.box{
  border: 1px dotted red;
}

.login-body{
  background-color: #5D4037;
  color: white;
}

.login{
  background-color: #795548;
  width: 100%;
  max-width: 400px;
  padding: 50px;
  margin: 100px auto;
  border: 1px solid gray
}

.login input[type=email], .login input[type=password]{
  border: 1px solid gray;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}

.login input[type=submit]{
  width: 100% !important
}

.notice-wrapper{
  padding: 0px;
  margin: 0px;
}
.alert{
  padding: 0px;
  margin: 0px;
}

.notice{
  padding: 0px;
  margin: 0px;
}
