
<div class="dashboard">
  <div class="header">
    <h2>Ordering App</h2> 
    <h4 class="user"><i class="fas fa-user-tie icon"></i>Welcome admin</h4> 
    
  </div>

  <div class="sidebar">
    <ul>
      <li><a href="#"><i class="fas fa-tachometer-alt icon"></i>Dashboard</a></li>
      <li><a href="#"><i class="fas fa-shopping-bag icon"></i>Products</a></li>
      <li><a href="#"><i class="fas fa-address-book icon"></i>Suppliers</a></li>
      <li><a href="#"><i class="fas fa-chart-bar icon"></i>Categories</a></li>
      <li><a href="#"><i class="fas fa-user-friends icon"></i>Customers</a></li>
      <li><a href="#"><i class="fas fa-shopping-cart icon"></i>Transactions</a></li>
      <li><a href="admins/sign_out"><i class="fas fa-sign-out-alt icon"></i>Sign out</a></li>
    </ul>  
  </div>
</div>